
<div>
  <p class="center"> Bienvenue sur CreditMan!</p>
  <p> Comment savoir si je peux accorder des délais de paiement à mes clients? Sont-ils solvable?</p>
  <p> Sur CreditMan, consulter directement une base de donnée avec une liste d'entreprises notées et analysées. Notre algorithme d'analyse est l'un des meilleurs du marché !</p>
  <p> Vous pouvez également ajouter des entreprises qui ne sont pas encore analysées et ajouter leurs comptes pour une analyse instantanée!</p>
  <p> Enfin, une fonctionnalité de suivi vous permet de suivre les entreprises qui vous intéresse et d'être informée lorsqu'elles sont dégradées</p>
  <p class="center"> Enjoy CreditMan!</p>
</div>
